
title{
    color: #263238;
    font-weight: bold;
    font-size: 18px ;
    margin-bottom: 4px;
}
caption{
    background-color: #455a64;
    font-weight: 700;
    color: white;

}
table{
    width: 50%;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #263238;
    padding: 10px;
}
td, th {
    text-align: right;
}
tr:first-child{
    background-color: #eceff1;
}
tr:nth-child(2){
    background-color: #b0bec5;
}
tr:last-child{
    background-color: #78909c;
    font-weight: 800;
}
tbody tr:nth-child(2){
    color: #78909c;
}
tbody tr:last-child{
    color: #7f0000;
}

